<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.hdl.myhttputils.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpLoadServlet</servlet-name>
    <servlet-class>com.hdl.myhttputils.UpLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StringServlet</servlet-name>
    <servlet-class>com.hdl.myhttputils.StringServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpLoadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StringServlet</servlet-name>
    <url-pattern>/string.action</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
